@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
}
main{
    background: url('../img/ea525ace1d75b3afcc5f73b77a9e842b.jpg');
}
/*Header*/
.cor-padrao-links{
    color: white!important;
    font-family: Arial, Helvetica, sans-serif;
}
.botao-nav{
    background-color: transparent;
    margin: 0 1rem;
    color: white!important;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    transition: .3s;
}
.botao-nav:hover{
    background-color: white;
    color: black!important;
}

@media (max-width:980px) {
    .botao-nav{
        margin: 0.5rem 0rem;
        text-align: center;
    }
}

/*Learning*/

#learn{
    background-color: transparent;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.learn-div-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Titulo-principal{
    font-size: 6rem;
    margin: 1rem 0rem;
    font-family: 'Abril Fatface', cursive;
    color: white;
}
.Sub-titulo-principal{
    margin: 1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.Sub-Sub-titulo-principal{
    margin: 1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

@media (max-width:426px) {
    .Titulo-principal{
        text-align: center;
        font-size: 5rem;
    }
    .botao-learn{
        margin: 0rem 1.0rem;
    }
    .Sub-Sub-titulo-principal{
        font-size: 0.8rem;
    }
    .Sub-titulo-principal{
        font-size: 0.8rem;
    }
    #learn{
        height: 878px;
    }
}

/*Projetos-Page*/

.main-projetos{
    height: 100VH;
}
@media (max-width:768px) {
    .main-projetos{
        height: 100%;
    }
}

.card-custom{
    background-color: transparent!important;
    border-style: solid;
    border-color: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif!important;
}
.font-custom{
    font-family: Arial, Helvetica, sans-serif;
}
.color-titulo-paginas{
    color: white;
}

.container-principal{
    margin-top: 10rem;
}
.git-hub-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}
.git-hub{
    border-style: none;
}
.git-hub img{
    width: 50px;
    border-radius: 10px;
}
.titulo-projetos{
    padding-top: 6rem;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width:1600px) {
    .main-projetos{
        height: 100%;
    }
}
@media (max-width:426px) {
    .titulo-projetos{
        padding-top: 8rem;
    }
    .container-principal{
        margin-top: 2rem
    }
    .card-custom{
        margin: 2rem 0rem;
    }
}