#learn{
    height: 100%!important;
}
.link-certificado{ 
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-style: solid;
    width: 80%;
    border-color: white;
    height: 8rem;
    color: white;
    transition: .3s;
}
.link-certificado:hover{
    background-color: white;
    color: black;
}
